.nav{
    width: 550px;
    height: 65px;
    flex-shrink: 0;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    display: flex;
    align-items: center;
    padding: 20px;
}
.pic {
    width: 31px;
    height: 26px;
    flex-shrink: 0;
    margin-right: 6px;
}
.title1{
    width: 140px;
    color: #FFF;
    font-family: Karla;
   font-size: 20px;
   font-weight: 700;
   letter-spacing: -2px;
   margin-right: auto;
}
.title2 {
    width: 189px;
    height: 14px;
    flex-shrink: 0;
    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
}
.form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap:17px;
}
.btn {
    grid-column: 1 / -1;
    font-family: Inter;
    width: 477px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 5px;
    background: linear-gradient(90deg, #711F8D 1.14%, #A818DA 100%);
    color:white;
    cursor: pointer;
    border: none;
}
.main {
    padding: 30px;
}
.txt1{
    width: 230px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
}
.txt2{
    width: 230px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
    margin-left: 250px;
    position: absolute;
}
.random{
    margin-top: 10px;
    width:477px;
    height: auto;
}
.box {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    display: inline-block;
    margin-right: 4px;
}
.txtgenerate {
    position: relative;
}
.toptext {
    position: absolute;
    margin-top: -500px;
    margin-left: 190px;
}
.bottomtext {
    position: absolute;
    margin-top: -200px;
    margin-left: 190px;
}

